* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #1f2937;
    display: flex;
    height: 4rem;
    align-items: center;
    padding: 0 15%;
    justify-content: space-between;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.headerlinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerlinks > a {
    margin: 1rem;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.headerlinks > a > img {
    height: 30px;
    width: auto;
    padding: 3px;
}

/* First - Block */
main {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 0 15%;
}

main > div > h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    line-height: 2;
}

main > div > p {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    margin-top: 3%;
    padding: 8px 30px;
    border-radius: 8px;
    background: #3882f6;
    border: 1px solid royalblue;
    color: white;
    font-weight: bold;
}

#placeholderforimg {
    height: 300px;
    width: 600px;
    background-color: #999999;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #e5e7eb;
}